body{
    background-color: #ff9900cc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 0px;
}

h1, h2{
    background-color: #ff66008a;
    padding: 10px;
}

img{
    width: 350px;
    height: 350px;
    text-align: center;
    margin: auto;
}

h3{
    margin-left: 20px;
}

.centralizar{
    text-align: center;
}
ol, ul{
    line-height: 30px;
}

footer{
    margin-top: 80px;
    padding: 30px ;
    background-color: #99660057;
    text-align: center;
}